@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.contenu_carte{
    margin-top: 8%;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    display: flex;
}

.contenu_image{
    object-fit: cover;
    width: 50%;
    height: 480px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: 107%;
    background-repeat: no-repeat;
}


.contenu_textes{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    height: 480px;
}

.titre{
    margin-top: 10%;
    margin-left: 10%;
}

.titre h2{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 100%;
}

.description_parfum{
    width: 77%;
    height: 110px;
    margin-left: 10%;
}

.description_parfum h1{
    font-family: 'Fraunces', serif;
    font-size: 33px;
}

.sous_description{
    width: 75%;
    height: 105px;
    margin-top: 30px;
    margin-left: 10%;
}

.sous_description p{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 2em;
}

.prix{
    width: 40%;
    margin-left: 10%;
}

.prix h1{
    font-family: 'Fraunces', serif;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
}

.promo{
    align-items: center;
    margin-top: -22%;
    margin-right: 20%;
    display: flex;
    justify-content: flex-end;
}

.promo p{
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.button_achat{
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    height: 50px;
    margin-top: 8%;
    margin-left: 10%;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: white;
}

.button_achat:hover{
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}

.button_achat span{
    padding-left: 5%;
}

